@model RevSliderModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.HideOnMobile" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.HideOnMobile" />
                    <span asp-validation-for="@Model.HideOnMobile"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomStyle" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="CustomStyle" />
                    <span asp-validation-for="CustomStyle"></span>
                </div>
            </div>

        </div>
    </div>
</div>